<h1>Mazes!</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Size</th>
  </tr>
  <% @mazes.each do |maze| %>
    <tr>
      <td><%= link_to maze.id, maze_path(maze) %><td>
      <%= maze.size %>
    </tr>
  <% end %>
</table>

<%= link_to 'New Maze', new_maze_path %>
